<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d5b09a">  <td>21/12/15 16:25:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyDropDownsTests.adefaultDropDown()[pri:0, instance:wwnorton.VerifyDropDownsTests@6d1d4d7]">adefaultDropDown</td> 
  <td>main@1349025531</td>   <td></td> </tr>
<tr bgcolor="d5b09a">  <td>21/12/15 16:26:05</td>   <td>11529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyDropDownsTests.bmatchlistBoxWidth()[pri:0, instance:wwnorton.VerifyDropDownsTests@6d1d4d7]">bmatchlistBoxWidth</td> 
  <td>main@1349025531</td>   <td></td> </tr>
<tr bgcolor="d5b09a">  <td>21/12/15 16:26:10</td>   <td>16784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyDropDownsTests.cmatchbuttonWidth()[pri:0, instance:wwnorton.VerifyDropDownsTests@6d1d4d7]">cmatchbuttonWidth</td> 
  <td>main@1349025531</td>   <td></td> </tr>
<tr bgcolor="d5b09a">  <td>21/12/15 16:26:13</td>   <td>19421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyDropDownsTests.dcomplexOption()[pri:0, instance:wwnorton.VerifyDropDownsTests@6d1d4d7]">dcomplexOption</td> 
  <td>main@1349025531</td>   <td></td> </tr>
<tr bgcolor="d5b09a">  <td>21/12/15 16:26:30</td>   <td>36769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyDropDownsTests.ediffChildren()[pri:0, instance:wwnorton.VerifyDropDownsTests@6d1d4d7]">ediffChildren</td> 
  <td>main@1349025531</td>   <td></td> </tr>
<tr bgcolor="d5b09a">  <td>21/12/15 16:26:31</td>   <td>37750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyDropDownsTests.fullyControlled()[pri:0, instance:wwnorton.VerifyDropDownsTests@6d1d4d7]">fullyControlled</td> 
  <td>main@1349025531</td>   <td></td> </tr>
<tr bgcolor="d5b09a">  <td>21/12/15 16:26:38</td>   <td>44545</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VerifyDropDownsTests.runOnceAtEnd()[pri:0, instance:wwnorton.VerifyDropDownsTests@6d1d4d7]">&lt;&lt;runOnceAtEnd</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1349025531</td>   <td></td> </tr>
<tr bgcolor="d5b09a">  <td>21/12/15 16:25:52</td>   <td>-1641</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VerifyDropDownsTests.runOnceAtStart()[pri:0, instance:wwnorton.VerifyDropDownsTests@6d1d4d7]">&gt;&gt;runOnceAtStart</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1349025531</td>   <td></td> </tr>
</table>
